/*  botoes navegação*/
/* menu hamburguer */
#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }

#menu-hamburguer{
    border: none;
}


.icone-btn {
    width: 20%;
    height: 94%;
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
.nome-botao{
    width: 80%;
    height: 94%;
    display: flex;
    justify-content: c;
    align-items: center;
    padding-left: 20px;
}
.nome-botao span{
    font-size: 3rem;
}

.btn-nav,
.btn-nav::after {
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    padding: 0px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    position: relative;
}



.btn-nav:hover::after {
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
}



.btn-nav:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 255, 213);
    box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}