html {
    font-family: "Chakra Petch", sans-serif;
    font-size: 62.5%;
    background-color: #40223B;
}

body {
    width: 100vw;
    height: 100vh;
}

.cadastrar-main {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    background-color: yellow;
}

.side-bar {
    width: 20vw;
    height: 100%;
    background-color: #40223B;
}

.botoes-navegacao {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.painel {
    width: 80vw;

    display: flex;
    flex-direction: column;
}

.container-dash-RT {
    width: 100%;
    height: 20%;
    background-color: #40223B;
    display: flex;
}

.content {
    width: 100%;
    height: 90%;
    display: flex;
    background-color: #cdcdcd;
    border: 1px solid white;
    border-radius: 20px;
}

.dash {
    width: 50px;
    border: 1px solid rgb(255, 255, 255);
    margin: 10px;
}


/*=================== Abas*/

.abas {
    width: 100%;
    height: 50px;
    background-color: orange;
    gap: 3.3%;
    display: flex;
    flex-direction: row;
}

.aba-1 {
    width: 33%;
    height: 100%;
    background-color: green;
}

.aba-2 {
    width: 33%;
    height: 100%;
    background-color: green;
}

.aba-3 {
    width: 33%;
    height: 100%;
    background-color: green;
}


/*===================Barra de pesquisa */
.ui-input-container {
    position: relative;
    width: 90%
}

.ui-input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    transition: border-color 0.3s;
}

.ui-input:focus {
    border-color: #B06DF0;
}

.ui-input-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #B06DF0;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.ui-input:focus+.ui-input-underline {
    transform: scaleX(1);
}

.ui-input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(176, 109, 240, 0.2);
    transition: width 0.3s;
}

.ui-input:focus~.ui-input-highlight {
    width: 100%;
}

.ui-input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    transition: color 0.3s;
}

.ui-input:focus~.ui-input-icon {
    color: #B06DF0;
}

.ui-input-icon svg {
    width: 20px;
    height: 20px;
}



/*=================== Início formulário de registro de entrada */

.formulario-registro {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.title {
    font-size: 2.8rem;
    color: #B06DF0;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #B06DF0;
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: #B06DF0;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.message {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.input-group {
    gap: 10px;
}




.noflex {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
}

.flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 1.6rem;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid+span {
    color: green;
}

.submit {
    border: none;
    outline: none;
    background-color: #B06DF0;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
}

.submit:hover {
    background-color: #B06DF0;
}




/* ===================opcoes de veiculos */
.radio-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-inputs>* {
    margin: 6px;
}

.radio-input:checked+.radio-tile {
    border-color: #B06DF0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #B06DF0;
}

.radio-input:checked+.radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #B06DF0;
    border-color: #B06DF0;
}

.radio-input:checked+.radio-tile .radio-icon svg {
    fill: #B06DF0;
}

.radio-input:checked+.radio-tile .radio-label {
    color: #B06DF0;
}

.radio-input:focus+.radio-tile {
    border-color: #B06DF0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus+.radio-tile:before {
    transform: scale(1);
    opacity: 1;
}

.radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-height: 80px;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
}

.radio-tile:hover {
    border-color: #B06DF0;
}

.radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}

.radio-icon svg {
    width: 2rem;
    height: 2rem;
    fill: #494949;
}

.radio-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
    font-size: 13px;
}

.radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.mapa{
    width: 50%;
    height: 100%;

}
